<ion-view title="{{friend.firstname}} {{friend.lastname}}">
  <ion-content has-header="true" padding="true">


  




	
<div class="list card">
	<div class="row modalDetail" ng-controller='UploadCtrl'>
    <div class="" ng-model='friend'>
      
        
        <div class="fileUpload btn btn-primary"> 
        	<span>Upload</span> 
      		<input type="file" accept="image/*" capture="camera" id="file-upload" ng-model='friend.photo' class="upload">
      	</div>
     	  	<div class='btn btn-warning' ng-click='save()'> save image</div>
     	  	<br><br>
      		<img id="pano" class="img-rounded">
    	  
         
      
    </div>

    

  </div>


		<img data-ng-src="{{friend.photo}}" ng-model='friend.photo' class="img-view img-thumbnail" />
 	
	 	<span class="item item-icon-left">	
	 	<input input type="text" name="firstname" ng-model='friend.firstname' class="form-control" placeholder="First Name"><i class="icon ion-ios7-person"></i>
		</span>
		  
		  
	
		<span class="item item-icon-left">	
	 	<input input type="text" name="lastname" ng-model='friend.lastname' class="form-control" placeholder="Last Name">
		</span>


		<span class="item item-icon-left">	
	 	<input input type="text" name="address" ng-model='friend.address' class="form-control" placeholder="Address"><i class="icon ion-ios7-world"></i>
		</span>


		<span class="item item-icon-left">	
	 	<input input type="tel" name="phone" ng-model='friend.phone' class="form-control" placeholder="Phone"><i class="icon ion-iphone"></i>
		</span>


		<span class="item item-icon-left">	
	 	<input input type="tel" name="email" ng-model='friend.email' class="form-control" placeholder="Email"><i class="icon ion-ios7-email"></i>
		</span>


		<span class="item item-icon-left">	
	 	<input input type="url" name="site" ng-model='friend.site' class="form-control" placeholder="URL"><i class="icon ion-link"></i>
		</span>


		<span class="item item-icon-left">	
	 	<textarea name="notes" ng-model='friend.notes' class="form-control" placeholder="Notes"></textarea><i class="icon ion-compose"></i>
		</span>	
	
</div>


	
	<a href="#/friends" class="btn">Cancel</a>
	<button ng-click="save()" ng-disabled="myForm.$invalid"
		class="btn btn-primary ">Save</button>
	<button ng-click="destroy()"
		ng-show="friend.$id" class="btn btn-danger">Delete</button>
	
</div>


  </ion-content>
</ion-view>
