<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{friend.firstname}} {{friend.lastname}}">
  <ion-content has-header="true" padding="true">



  	<form name="myForm" class="col-lg-8 col-lg-offset-2">

	<div class="input-group">
		  <span class="input-group-addon"><i class="fa fa-user"></i></span>
		  <input type="text" name="firstname" ng-model='friend.firstname' class="form-control" placeholder="First name">
	</div>

	<div class="input-group">
		  <span class="input-group-addon"><i class="fa fa-user"></i></span>
		  <input type="text" name="lastname" ng-model='friend.lastname' class="form-control" placeholder="Last name">
	</div>

	

	<div class="input-group">
		  <span class="input-group-addon"><i class="fa fa-globe"></i></span>
		  <input type="text" name="address" ng-model='friend.address' class="form-control" placeholder="Address">
	</div>

	<div class="input-group">
		  <span class="input-group-addon"><i class="fa fa-phone"></i></span>
		  <input type="tel" name="phone" ng-model='friend.phone' class="form-control" placeholder="Phone">
	</div>

	<div class="input-group">
		  <span class="input-group-addon"><i class="fa fa-envelope-square"></i></span>
		  <input type="email" name="email" ng-model='friend.email' class="form-control" placeholder="Email">
	</div>


	<div class="input-group">
		  <span class="input-group-addon"><i class="fa fa-link"></i></span>
		  <input type="url" name="site" ng-model='friend.site' class="form-control" placeholder="URL">
	</div>


	<div class="input-group">
		  <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
		  <textarea name="notes" ng-model='friend.notes' class="form-control" placeholder="Notes"></textarea>
	</div>
	



	
	<a href="#/tab/friends" class="btn">Cancel</a>
	<button ng-click="save()" ng-disabled="myForm.$invalid"
		class="btn btn-primary ">Save</button>
	<button ng-click="destroy()"
		ng-show="friend.$id" class="btn btn-danger">Delete</button>
	
</form>


  </ion-content>
</ion-view>
