<ion-view title="Friends">


    <div class="bar bar-subheader item-input-inset" >

        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="text" class="form-control" data-ng-model="search"></input> 
        <a class="button button-clear" href="" data-ng-click="clearSearch()"><span class="Xclear">X</span></a>
   
        
        <a href="#/friends/new"><i class="icon ion-ios7-plus"></i></a>
    </div>



  <ion-content>

  


    <div class="ionlist">
    <ion-list>
      <ion-item ng-repeat="friend in friends | filter:search | orderBy:'firstname'" type="item-text-wrap" href="#/friend/{{friend.$id}}" class="animation">
        {{friend.firstname}} {{friend.lastname}}  

        <img ng-src="{{friend.photo}}" class="fl-r">

      </ion-item>

    </ion-list>
    </div>
  </ion-content>
</ion-view>


