<ion-view title="Friends">




  <ion-content>

  	<nav class="navbar navbar-default" role="navigation">

		
		<form class="navbar-form navbar-right" role="search">
		  
		    <input type="text" ng-model="$parent.search" class="form-control" placeholder="Search">
		  
		</form>

		<a href="#/friends/new"><i class="icon ion-ios7-plus"></i></a>
	</nav>


      
    <ion-list>
      <ion-item ng-repeat="friend in friends | filter:search | orderBy:'firstname'" type="item-text-wrap" href="#/friend/{{friend.$id}}" class="animation">
        {{friend.firstname}} {{friend.lastname}}  

        <img ng-src="{{friend.photo}}" class="fl-r">

      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>


