/* Empty. Add your own CSS if you like */
a:hover {
	text-decoration: none !important;
}


@media screen and (max-width: 768px) {
	i.ion-ios7-plus {
				position: relative !important;
				margin-top: -3px !important;
			   left: 45% !important;
	}

	
}

/*
.input-group {
	padding: 2px;
}


.btn-danger {
	float: right;
}
*/
.animation {-webkit-transition: 1s;}

.animation.ng-enter-stagger,
.animation.ng-leave-stagger {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transition-duration:0;
	transition-duration:0;
}

.animation.ng-enter {opacity: 0;}
.animation.ng-enter.ng-enter-active {opacity: 1;}

.animation.ng-leave {opacity: 1;}
.animation.ng-leave.ng-leave-active {opacity: 0;}


.form-control, .form-control:focus {
    border-color: #cccccc !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

textarea {
	border: none !important;
}



i.ion-ios7-plus {
  font-size: 40px;
  margin-left: 20px;
}


.fl-r {
	float: right;
	height: 64px;
	width:64px;
	margin-top: -12px;
	border: 2px solid orange;
	border-radius: 5px;

}

.img-view {
	max-width: 128px;
	max-height: 128px;
}

.item-content {
	height: 72px !important;
}