/* Empty. Add your own CSS if you like */
a:hover {
	text-decoration: none !important;
}

.fa-plus {
	margin-top: 6px !important;
	margin-left: 10px !important;

}

@media screen and (max-width: 768px) {
	.fa-plus {
				position: relative !important;
				margin-top: -3px !important;
			   left: 50% !important;
	}

	
}

.input-group {
	padding: 2px;
}


.btn-danger {
	float: right;
}

.animation {-webkit-transition: 1s;}

.animation.ng-enter-stagger,
.animation.ng-leave-stagger {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transition-duration:0;
	transition-duration:0;
}

.animation.ng-enter {opacity: 0;}
.animation.ng-enter.ng-enter-active {opacity: 1;}

.animation.ng-leave {opacity: 1;}
.animation.ng-leave.ng-leave-active {opacity: 0;}