/* Empty. Add your own CSS if you like */
a:hover {
	text-decoration: none !important;
}


@media screen and (max-width: 768px) {
	i.ion-ios7-plus {
				position: relative !important;
				margin-top: -3px !important;
			   left: 45% !important;
	}

	
}

/*
.input-group {
	padding: 2px;
}


.btn-danger {
	float: right;
}
*/
.animation {-webkit-transition: 0.2s;}

.animation.ng-enter-stagger,
.animation.ng-leave-stagger {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transition-duration:0;
	transition-duration:0;
}

.animation.ng-enter {opacity: 0;}
.animation.ng-enter.ng-enter-active {opacity: 1;}

.animation.ng-leave {opacity: 1;}
.animation.ng-leave.ng-leave-active {opacity: 0;}


.form-control, .form-control:focus {
    border-color: #cccccc !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

textarea {
	border: none !important;
}



i.ion-ios7-plus {
  font-size: 40px;
  margin-left: 20px;
}


.fl-r {
	float: right;
	height: 72px;
	width:72px;
	margin-top: -16px;
	border: 2px solid orange;
	border-radius: 5px;

}

.img-view {
	max-width: 256px;

}

.item-content {
	height: 72px !important;
}

.ionlist {
	padding-top: 40px !important;
}

.Xclear {
	margin-left: 30px;
}


img#pano {
	max-width: 128px;

}

.fileUpload {
	position: relative;
	overflow: hidden;

}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.modalDetail {
	margin-left: 0 !important;
	width: 190px;
}